/* THIS IS CSS SINGLE-LINE COMMENT */

/*
    YOU CAN LEAVE A MULTIPLE LINE
    COMMENT LIKE THIS.
*/
p {
  margin: 10px 0px 10px 10px; /* margin: top right bottom left */
  text-align: left;
  margin-bottom: 5px;
}

.nameApp { /* This is the 'nameApp' css class, it's define the text's color. */
  color: navy; 
}

form {
  margin: 10% auto auto auto; /* margin: top right bottom left */
  width: 255px;
  /* background-image: url("../image/milad-fakurian-E8Ufcyxz514.jpg"); */
  background-color: rgb(255, 241, 223);
  border: 1px salmon solid;
  border-radius: 10px;
}

input[type=button] { 
  margin: 0px 0px 10px 5px;
  width: 25px;
  font-weight: bold;
  /* border-radius: 20px; */
}

input[type=number] {
  margin: 0px 0px 10px 10px;
  text-align: right;
}

input[type=text] {
  margin: 0px 0px 10px 10px;
  text-align: right;
}
