/* THIS IS CSS SINGLE LINE COMMENT */

/*
    YOU CAN LEAVE A MULTIPLE LINE
    COMMENT LIKE THIS.
*/
p {
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}

form {
  width: 255px;
}

input[type=button] {
  width: 25px;
  font-weight: bold;
  /* border-radius: 20px; */
}

input[type=number] {
  text-align: right;
}
